<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        Listings
        <ul>
            <% for(let list of listingData){ %>
                <li>
                    <a href="/listings/<%=list._id%>"><%= list.title %></a>
                    <button><a href="/listings/edit/<%=list.id%>">Edit</a></button>  
                </li>
            <% } %>
        </ul>
        <button>
            <a href="/listings/form">ADD</a>
        </button>
    </div>
</body>
</html>